.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Single colours*/
.red {
	background-color: red;
}
	
.yellow {
	background-color: yellow;
}
	
.green {
	background-color: green;
}
	
.blue {
	background-color: blue;
}

.toledo {
	background-color: #29011C;
}

.ripe_plum {
	background-color: #5B0061;
}

.viola {
	background-color: #C27EC0;
}

.carmine {
	background-color: #AA002C;
}

.tulip_tree {
	background-color: #F1B53E;
}

.canary {
	background: #EFF95C;
}

.crusta {
	background-color: #FC842E;
}

.fuchsia_pink {
	background-color: #C241B8;
}

.robins_egg_blue {
	background-color: #02CECB;
}

.malachite {
	background-color: #00E73F;
}

.candy_corn {
	background-color: #F6F659;
}

.black {
	background-color: #000000;
}

.green_haze {
	background-color: #009C6D;
}

.torch_red {
	background-color: #FB011D;
}

.tacha {
	background-color: #D7CB5F;
}

.aqua_forest {
	background-color: #5FA861;
}

.hit_pink {
	background-color: #FBAE83;
}

.de_york {
	background-color: #9ACB94;
}

.electric_violet {
	background-color: #D30DD4;
}

.rope {
	background-color: #885B1A;
}

/*Colour gradients*/
.plum_black {
	background-image: url('images/plum_black.JPG');
}